TELEGRAM_BOT_TOKEN=8969663971:AAE6l1k16TUHa6DZJvcFKbmAzLO2dz2Q_IQ
GEMINI_API_KEY=AQ.Ab8RN6JEYXzN2PE-ohqIY0NEhmd48CjTEJZWrPtaSjWbId8_qQ
# Необязательно:
GEMINI_MODEL=gemini-3.5-flash-lite
HISTORY_LIMIT=20
